
# Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfvars

# Ansible
.ansible/.lock

# BLOBs
/fmt-commit-pusher
/governance
/gitlab-runner-configs
sonarqube/**/*
coverage.out

# HashiCorp Vault
vault/data/*
!vault/data/README.md
vault/keys/
tls/
terraform/layers/foundation-vault-bastion/tls

# Environment
.env
.env*.local

# IDEs
.vscode
.idea
merge-request.md
note.md
