<network>
  <name>{{ workstation_libvirt_publish_network_name }}</name>
  <forward mode="route"/>
  <bridge stp="on" delay="0"/>
  <ip address="{{ workstation_libvirt_publish_network_address }}" netmask="{{ workstation_libvirt_publish_network_netmask }}"/>
</network>
