# Default owner for everything
* @csning1998

[Documentation]
/.gitlab/                           @csning1998
CODE_OF_CONDUCT.md                  @csning1998
LICENSE                             @csning1998
README.md                           @csning1998

[Critical Infrastructure]
terraform/layers/group-api-keys/       @csning1998
terraform/layers/group-governance/     @csning1998
terraform/layers/group-runner/         @csning1998
terraform/layers/meta-gitlab-project/  @csning1998
